<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAI Appliance Reporting</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form method="POST">
        <select id="category_select", name="tenant_db" required>
            <option value="{{ tenant_db }}">{{ tenant_db }}</option>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <select id="appliance_id", name="appliance_id" required>
            <option value="{{ appliance_id  }}">{{ appliance_id  }}</option>
        </select>
        <label for="start_date">From:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}" required>
        <label for="end_date">To:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}" required>
        <button type="submit">Submit</button>
    </form>
    <script>
        function updateSelectedtenant(selectedCategory, itemSelect){
            itemSelect.innerHTML = '<option value="">Select Appliance ID</option>'; // Clear previous options
            if (selectedCategory) {
                fetch('/pods/' + selectedCategory)
                    .then(response => response.json())
                    .then(items => {
                        items.forEach(function(item) {
                            var option = document.createElement('option');
                            option.value = item;
                            option.textContent = item;
                            itemSelect.appendChild(option);
                        });
                    });
            }
        }
        document.getElementById('category_select').addEventListener('change', function() {
            var selectedCategory = this.value;
            var itemSelect = document.getElementById('appliance_id');
            updateSelectedtenant(selectedCategory, itemSelect)
        });

        document.getElementById('appliance_id').addEventListener('click', function() {
            var selectedCategory = document.getElementById('category_select').value;
            var itemSelect = document.getElementById('appliance_id');
            updateSelectedtenant(selectedCategory, itemSelect)
        });

    </script>

    <!-- Error message display -->
    <div id="error_message" style="color: red; margin-top: 20px;"></div>
    <!-- Display the message if it exists -->
    {% if message %}
    <div style="margin-top: 20px; padding: 10px; border: 1px solid #ccc;">
        <strong>{{ message }}</strong>
    </div>
    {% endif %}
    {% if graphJSON %}
    <div id="chart"></div>
    <script>
        var graph = {{ graphJSON | safe }};
        Plotly.newPlot('chart', graph.data, graph.layout);
    </script>
    {% endif %}
</body>
</html>